body {
  font-family: Helvetica;
}

img {
  height: 170px;
}

ul li {
  list-style: square;
}

p.time {
  color: gray;
}

a.external-link {
  color: SeaGreen
}

.description {
  font-size: 20px;
}

#cook-time {
  font-weight: bold;
}